# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.x86_64

# Automake shite
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
depcomp
install-sh
missing
7dRTS
config.h
config.h.in
stamp-h1
compile

# Autosaves
*~
*.swp
